body {
	background-color: #00B2B2;
	 
}

nav {
	background-color: #0D76F8;
}

/* Stylize sectionOne */
#clock {
	position: fixed;
	width: 600px;
	height: 340px;
	left: 0px;
}

.sectionOne {
	position: fixed;
	padding: 210px 0;
	left: 0;
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/schrecksee.jpg"); /* Image from https://pixabay.com/photos/mountain-landscape-mountains-2031539/ / */
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	filter: brightness(85%);
}

.sectionOneText {
	position: fixed;
	padding: 210px 0;
	top: -140px;
	left: 630px;
}

#sectionOneButtons {
	position: fixed;
	top: 380px;
	left:870px;
 
}

/* Stylize sectionTwo */
.sectionTwo {
	position: fixed;
	margin-top: 480px;
	margin-left: 500px;
}
ul {
	list-style-type: none;
}

.priceTable{
	background-color:#fff;
	width:250px;
	height:250px;
	border-color: #000;
	box-shadow: 5px 10px 5px #000;
}

.header {
	font: italic 1.2em "Fira Sans", serif;
	margin-left:80px;
	color:#000;
 
}

.price {
	font: bold 25px  sans-serif;
	margin-left:50px;
	color:#000;
}

.topPart{
	background-color:#90ee90;
}

hr{
	border-color:#000;
}

.item {
	  font-size:15px;
	 font-style:Helvetica;
	 margin-left:50px;
	 
}
 

.signUp{
	margin-top:55px;
	margin-left:80px;
}

/* Stylize footer  */
footer{
		position:fixed;
		margin-top:800px;
		width:600em;
		height:20em;
		background-color:#00B2B2;
}


.divLocationIcon{
	display:block;
	cursor:pointer;
	font-size:30px; 
	margin-right:0px;
	margin-left:15px;
}

.locationInfo{
	display:inline-block;
	margin-right:0px;
	margin-left:-50px;
}

.locationText{
	   right: 555150px;
}


#socialMediaText
{
	float:right;
	position:fixed;
	margin-top:-50px;
	margin-left:50px;
}

.socialMediaIcons{
	 margin-top:80px;
	 margin-left:-50px;
}


.socialMediaDivIcon{
	display:inline-block;
	cursor:pointer;
	font-size:30px; 
	margin-right:0px;
	margin-left:15px;
}

.fa {
	color: #000;
}
 
