body{
	position:fixed;
	background-color:#00B2B2;
}

nav {
background-color: #0D76F8;

}	


/* Stylize sectionOne */
 
 #clock{
	 position:fixed;
	 width:600px; 
	 height:340px;
	 left:0px;
 
 }
 
  .sectionOneText{ 
	 position:fixed;
	 padding: 210px 0;
	 left:800px;
	 color:#fff;
  }
  
	#sectionOneButtons{
	position:fixed;
	top:32%;
	left:42%;
	margin-right:5px;
	}