/*  Icpm https://pixabay.com/illustrations/icon-position-map-location-icon-2073973/
/* 	image1 is from https://pixabay.com/photos/food-kitchen-cook-tomatoes-dish-1932466/  */
/*  image2 is from https://pixabay.com/photos/jam-jars-fruit-natural-food-428094/*/
/*  image3 is from https://pixabay.com/photos/kitchen-work-restaurant-cook-chef-731351/  */
/*  image4 is from https://pixabay.com/photos/bakery-bread-baker-apron-baking-1868396/  */

body{
	 
}

nav {
	background-color:#037f51;
}

.foodIcon{
	margin-left:-30px;
}
 
 .marginLeft {
	margin-left:65px;
}
 
.user{
	font-size:30px;
	position: absolute;
	top:15px;
	right:60px;
}

.whiteLine {
	position: absolute;
	border-left:4px solid white;
	right:50px;
	height:30px;
	top:5px;
}
  
.shoppingCart{
	font-size:30px;
	position: absolute;
	top:15px;
	right:1px;
}
.stylizeSearchBar{
	display:inline-block;
	width:20%;
}	

.btn-primary.custom-btn {
	background-color:#2a00d3;
}

.stylizeDiv{
	position: absolute;
	height:1000px;
	background-color:#c3c3c3;
}

 #sidebar{
	position: absolute;
	top: 95px;
	height:1000px;

}

 .sideBarElements{
	 margin-top:125px;
	  
 }

#bakery{
	position:absolute;
	width:780px;
	height:600px;
	right:480px;
	top:110px;
}


