/*  image1 is from https://pixabay.com/photos/food-kitchen-cook-tomatoes-dish-1932466/  */
/*  image2 is from https://pixabay.com/photos/jam-jars-fruit-natural-food-428094/*/
/*  image3 is from https://pixabay.com/photos/kitchen-work-restaurant-cook-chef-731351/  */
/*  image4 is from https://pixabay.com/photos/bakery-bread-baker-apron-baking-1868396/  */

body{
	 
}

nav {
	background-color:#9400D3;
}
 
.user{
	font-size:25px;
	position: absolute;
	top:15px;
	right:60px;
}

.whiteLine {
	position: absolute;
	border-left:4px solid white;
	right:50px;
	height:30px;
	top:5px;
}

.shoppingCart{
	font-size:25px;
	position: absolute;
	top:15px;
	right:1px;
}

.stylizeButton{
	background-color:#00d394;
}

.stylizeSearchBar{
	display:inline-block;
	width:75%;
	background-color:#9400D3;
}

  
.form-control::-moz-placeholder {
  color:#000;
}
.form-control:-ms-input-placeholder {
  color:#000;
}
.form-control::-webkit-input-placeholder {
  color:#000;
}
